body {
  background-image: url("bkg.png");
}

nav {
  width: 90%;
  margin: 3%;
  font-family: roboto;
  color: #e1ad01;
  font-weight: 900;
}

nav ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  font-size: 60px;
}
nav li {
  margin: 0 10px;
}
.nav-push-right {
  margin-left: auto;
  justify-content: space-evenly;
  font-size: 30px;
}

.login:hover {
  text-decoration: underline;
}

.signup:hover {
  text-decoration: underline;
}

.test {
  background-color: white;
  border: white;
  border-color: black;
  border-radius: 5px;
  padding: 30px;
  margin-left: 5%;
}
